<div class="Wrapper">
  <div class="Container">
    <lib-nav class="Navigation" (onNavAction)="onNavAction($event)" [externalComponents]="navTools"></lib-nav>
    <div class="Content">
      <h1>Test Project!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam sit officia consequuntur rem sapiente
        iure dolorum dolor dolores ullam, perspiciatis enim esse soluta, et ipsam molestias quisquam. Fugiat, aut?</p>
    </div>
  </div>
</div>
